

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #132440; 
    color: #fff;
    line-height: 1.6;
}

h1, h2, h3 {
    font-weight: 700;
}
/* Header Styles */
header {
    background: #BF092F; /* main red */
    color: white;
    padding: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: 0.3s;
}

header nav a:hover {
    color: #3B9797;
}